= javascript_include_tag 'firebase'

- if !@player.deal_in
  = form_tag blackjack_ready_up_path(@blackjack.id, @player.id) do
    = submit_tag 'Deal Me In'
- else
  - if @blackjack.dealer_hand.nil?
    = form_tag blackjack_game_start_path(@blackjack.id) do
      = submit_tag 'Start game'
  - else
    .firebase_game
      .hand#dealer_hand
        Dealer hand
      - @blackjack.players.each do |p|
        %div{ :id => "player_#{p.id}" }
          Player hand

    = javascript_include_tag 'https://cdn.firebase.com/v0/firebase.js'
    = firebase_update_winners
    = firebase_update_dealer
    = firebase_update_players
    = firebase_update_hands
    = link_firebase
    = load_firebase

    = form_tag blackjack_stand_path(@blackjack.id, @player.id), :remote => true do
      = submit_tag 'Stand', :class => 'stand-btn'
    = show_or_hide_stand_button

    = form_tag blackjack_hit_path(@blackjack.id, @player.id), :remote => true do
      = submit_tag 'Hit', :class => 'hit-btn'
    = show_or_hide_hit_button

    = form_tag blackjack_double_path(@blackjack.id, @player.id), :remote => true do
      = submit_tag 'Double', :class => 'double-btn'
    = show_or_hide_double_button

    = form_tag blackjack_split_path(@blackjack.id, @player.id), :remote => true do
      = submit_tag 'Split', :class => 'split-btn'
    = show_or_hide_split_button


    = form_tag blackjack_redeal_path(@blackjack.id), :remote => true do
      = submit_tag 'Redeal', :class => 'redeal-btn'
    = show_or_hide_redeal_button
